body {
  font-family: 'Share', cursive; 
  background: #76a07e;
}

#container {
  position: relative;
  margin: 10px auto;
  width: 1024px;
  background: #eee url('../img/flower_upper_shadow.png') -50px 0px no-repeat;
}

#container > header {
  position: relative; 
  background: #506c55;
  height: 200px;
  color: #aaa;
  color: rgba(255,255,255,.50);
}

#header-lower {
  position: absolute;
  left: -50px;
  top: 0;
  background: url('../img/flower_lower.png') no-repeat;
  width: 300px;
  height: 200px;
}

#header-middle {
  position: absolute;
  top: 0;
  left: 0;
  height: 311px;
  line-height: 250px;
  font-size: 60px;
  font-weight: bold;
  margin-left: 130px;
}

#header-upper {
  position: absolute;
  left: -50px;
  top: 0;
  background: url('../img/flower_upper.png') no-repeat;
  width: 300px;
  height: 311px;
}

nav {
  width: 130px;
  float: left;
  margin: 110px 0 0 0;
  padding: 0 5px 0 30px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav a,
nav a:visited {
  text-decoration: none;
  color: #444;
}

nav a:hover {
  color: #777;
}

#ad_1 iframe {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0;
  width: 480px; 
  height: 175px;
}

section#content {
  width: 700px;
  float: left;
}

footer {
  clear: both;
}

@media screen {
  #container {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
  }
}

@media screen and (max-width: 1024px) {
  #container {
    margin: 0;
    width: auto;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  nav {
    width: auto;
    margin: 0 0 10px;
    padding: 5px 0;
    text-align: center;
    float: none;
    border-bottom: solid 2px #444;
    border-bottom: solid 2px rgba(0,0,0,.70);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  nav ul {
    display: inline;
  }
  
  nav li {
    display: inline;
    padding: 0 5px;
  }

  #ad_1 {
    text-align: center;
  }

  #ad_1 iframe {
    width: 600px; 
    height: 120px;
    position: relative;
  }

  section#content {
    width: auto;
    float: none;
    padding: 0 10px;
  }

}

@media screen and (max-width: 632px) {
  #container {
    background: #eee;
  }

  #container > header {
    height: auto;
  }
  
  #header-lower {
    display: none;
  }
  
  #header-middle {
    position: relative;
    height: auto;
    line-height: normal;
    margin: 0;
    padding-left: 130px;
    background: url('../img/flower_combine.png') -120px -20px no-repeat;
  }
  
  #header-upper {
    display: none;
  }

  #ad_1 {
    clear: both;
  }

  #ad_1 iframe {
    width: 150px; 
    height: 85px;
  }
}

p {
  margin: 10px 0 0;
}

article,
.show-more {
  padding: 10px;
  margin: 10px 0 0;
}

article header {
  background: #76a07e;
  font-weight: bold;
  padding: 5px;
  margin: 0 0 3px;
  font-size: 1.2em;
  min-height: 23px;
  -webkit-border-radius: 0 3px 0 3px;
  -moz-border-radius: 0 3px 0 3px;
  border-radius: 0 3px 0 3px;
}

article header em {
  display: block;
  float: right;
  font-size: .6em;
  line-height: 1.5em;
  background: #506c55;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: solid 2px #2e3f32;
  margin: 0;
  padding: 1px 3px;
}

article > span {
  font-size: .8em;
}

article > span time {
  font-style: italic;
}

article section {
  text-align: justify;
}

article div.read-more {
  text-align: right;
  padding: 5px 0;
}

article a,
article a:visited {
  color: #444;
  text-decoration: none;
  border-bottom: dotted 1px #444;
  border-bottom: dotted 1px rgba(0,0,0,.70);
  cursor: pointer;
}

article a:hover {
  color: #777;
  border: 0;
}

span a,
span a:visited {
  font-weight: bold;
  color: #444;
  color: rgba(0,0,0,.70);
  text-decoration: none;
  border-bottom: dotted 1px #444;
  border-bottom: dotted 1px rgba(0,0,0,.40);
}

span a:hover {
  color: #777;
  border: 0;
}

span.prev {
  float: left;
}

span.next {
  float: right;
}

.show-more {
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.show-more:hover {
  color: #eee;
  background: #76a07e;
}

.person-profile img {
  float: left;
  margin: 0 15px 15px 0;
}

.person-profile {
  margin-bottom: 35px;
}

.off-sight {
  position: absolute;
  top: -2000px;
  right: -2000px;
}

footer {
  padding: 30px 0;
  text-align: center;
}
