body {
  /* IE10 */ 
  background-image: -ms-linear-gradient(left, #FFFFFF 0%, #ADADAD 50%, #FFFFFF 100%);
  
  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(left, #FFFFFF 0%, #ADADAD 50%, #FFFFFF 100%);
  
  /* Opera */ 
  background-image: -o-linear-gradient(left, #FFFFFF 0%, #ADADAD 50%, #FFFFFF 100%);
  
  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FFFFFF), color-stop(0.5, #ADADAD), color-stop(1, #FFFFFF));
  
  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(left, #FFFFFF 0%, #ADADAD 50%, #FFFFFF 100%);
  
  /* Proposed W3C Markup */ 
  background-image: linear-gradient(left, #FFFFFF 0%, #ADADAD 50%, #FFFFFF 100%);
}

#container {
  margin: 10px auto;
  width: 900px;
  background: #fafafa;
  padding: 20px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

#container > header {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  margin: 0 0 20px;
  border: solid 2px #444;
  border: solid 2px rgba(0,0,0,.70);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#container > header a,
#container > header a:visited {
  text-decoration: none;
  color: #444;
}

#container > header a:hover {
  color: #777;
}

p {
  margin: 10px 0 0;
}

article,
.show-more {
  background: #444;
  color: #fafafa;
  padding: 10px;
  margin: 0 0 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

article header {
  font-weight: bold;
  background: #fafafa;
  background: rgba(255,255,255,.90);
  color: #444;
  padding: 5px;
  margin: 0 0 3px;
  font-size: 1.2em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid #fff;
}

article > span {
  font-size: .8em;
}

article > span time {
  font-style: italic;
}

article section {
  text-align: justify;
}

article div.read-more {
  text-align: right;
  padding: 5px 0;
}

article a,
article a:visited {
  color: #fafafa;
  color: rgba(255,255,255,.90);
  text-decoration: none;
  border-bottom: dotted 1px #fafafa;
  border-bottom: dotted 1px rgba(255,255,255,.90);
  cursor: pointer;
}

article a:hover {
  color: #eee;
  border: 0;
}

span a,
span a:visited {
  font-weight: bold;
  color: #444;
  color: rgba(0,0,0,.70);
  text-decoration: none;
  border-bottom: dotted 1px #444;
  border-bottom: dotted 1px rgba(0,0,0,.40);
}

span a:hover {
  color: #eee;
  color: rgba(0,0,0,.60);
  border: 0;
}

span.prev {
  float: left;
}

span.next {
  float: right;
}

.show-more {
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.show-more:hover {
  background: #666;
}

.off-sight {
  position: absolute;
  top: -2000px;
  right: -2000px;
}

footer {
  margin: 30px 0 0;
  text-align: center;
}
